/* ESTILOS BASE */

:root {
    --colorPrimario: #9C27B0;
    --colorPrimarioLight: #E1BEE7;
    --colorPrimarioDark: #7B1FA2;
    --colorOscuro: #212121;
    --textoIcono: #FFF;
    --textoSecundario: #757575;
    --colorAcento: #4CAF50;
    --divisor: #BDBDBD;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0 auto;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

p {
    font-size: 2rem;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--textoIcono);
}

p {
    text-align: center;
    font-weight: 900;
}

h1 {
    font-size: 5.5rem;
    font-family: 'Rowdies', cursive;
    font-weight: 900;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.5rem;
}

section {
    height: 100vh;
}

header {
    background-color: var(--colorPrimario);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

label {
    font-weight: 900;
}

.but {
    font-weight: 900;
    width: 15rem;
    height: 6rem;
    border: none;
    border-radius: 10px;
    color: var(--textoIcono);
    background-color: var(--colorAcento);
}


/* UTILIDADES */

.off {
    display: none;
}


/* ------------------------------------------ */


/* ------------------------------------------ */


/* Seccion #inicioJuego Pantalla Principal */

#inicioJuego {
    height: 85vh;
}


/* Formulario nombres */

.inicioJuego__nombres {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicioJuego__nombres label {
    margin-bottom: 1rem;
}

.inicioJuego__nombres input {
    border: 1px solid silver;
    border-radius: 5px;
    width: 80%;
    padding: 1rem;
    margin-bottom: 2rem;
    outline: none;
    text-align: center;
}

.inicioJuego__boton:hover {
    cursor: pointer;
}


/* Historial de Partidas */

.historialJuegos {
    width: 100%;
    margin-top: 5rem;
}

.listaJuegos {
    display: flex;
    flex-direction: column-reverse;
    /* overflow-y: scroll; */
    /* max-height: ; esto hace que surta efecto el overflow*/
}

.listaJuegos__Juego {
    margin: 0;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px var(--divisor);
}

.listaJuegos__texto {
    width: 50%;
}

.listaJuegos__botonera {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}


/* ------------------------------------------ */


/* ------------------------------------------ */


/* Seccion de verCartas */

#btnCerrarVC {
    margin-left: 90%;
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

.verCartas {
    height: 90vh;
}

.verCartas__header {
    margin: 2rem;
    color: var(--colorOscuro);
    font-weight: 900;
}

.carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carta__header {
    margin-top: 1rem;
}

.carta__imagen {
    height: 25rem;
}

.carousel-indicators {
    margin-top: 3rem;
}

.carousel-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem;
    background-color: #212121;
    border-radius: 50%;
}


/* ------------------------------------------ */


/* ------------------------------------------ */


/* Seccion de  verResultado */

.resultados {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
}

.resultados__resultado {
    height: 30vh;
}

.resultados__resultado h2 {
    margin-bottom: 2.5rem;
    color: var(--colorOscuro);
    font-weight: 900;
}

.resultado__botonera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.resultado__botonera--ver,
.resultado__botonera--volver {
    height: 100px;
}

.resultado__imagenes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.imagenes__imagen {
    border-radius: 50%;
    border: 4px solid silver;
    width: 7.5rem;
    height: 7.5rem;
}


/* verMatch verMatch__botonera */

.verMatch__botonera {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.esMatch {
    color: var(--colorOscuro);
    font-weight: 900;
}